@import "../../../styles/breakpoint";
.timer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -40%;
  .currentTime {
    position: absolute;
    width: 100px;
    text-align: center;
    @include max-breakpoint($sm) {
      left: 10%;
    }
  }
}
