.timerWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .leftSideBlur {
    position: absolute;
    left: 0%;
    width: 100px;
    z-index: 10;
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 30%, transparent);
  }
}
